input {
  padding: 10px 16px;
  border-radius: 4px;
  font-size: 14px !important;
  font-weight: 300 !important;
}

input::placeholder {
  font-family: "Montserrat", sans-serif;
}

input.light {
  background-color: var(--primary);
  border: 2px solid rgba(var(--bg-rgb), 0.4);
  color: var(--bg);
}

.input-wrapper {
  position: relative;
  display: inline-block;
  min-width: 400px;
}

.search-icon {
  position: absolute;
  right: 12px;
  z-index: 10;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.input-wrapper input {
  padding-right: 40px;
  min-width: 400px;
  position: relative;
  z-index: 1;
}

@media (max-width: 992px) {
  .input-wrapper {
    flex-shrink: 1;
    min-width: 0;
  }
  .input-wrapper input {
    flex-shrink: 1;
    min-width: 0;
  }
}

input.light:focus {
  border: 2px solid var(--bg);
  box-shadow: none;
  outline: none;
}

input.light::placeholder {
  color: var(--bg);
}
