button.primary {
  background-color: var(--primary);
  color: var(--bg);
  padding: 16px 24px;
  line-height: 1;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  transition: all 0.2s ease-in-out;
}

button.primary.wide {
  padding: 12px 28px;
}

button.primary:hover {
  background-color: var(--secondary);
  cursor: pointer;
}

button.secondary {
  background-color: var(--bg-alt);
  color: var(--primary);
  padding: 16px 24px;
  line-height: 1;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  border: 1px solid rgba(var(--primary-rgb), 0.4);
  transition: all 0.2s ease-in-out;
}

button.secondary:hover {
  background-color: white;
  cursor: pointer;
}

button.onInput {
  height: 38.33px;
  padding: 0 16px;
  border-radius: 0 8px 8px 0;
  font-size: 14px;
  width: 20%;
}

@media (max-width: 768px) {
  button.onInput {
    width: 30%;
  }
}

@media (max-width: 576px) {
  button.onInput {
    width: 40%;
  }
}

button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
