.sidebar-button {
  background-color: white;
  color: var(--primary);
  border: none;
  padding: 16px 24px;
  border-radius: 4px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-radius: 8px;
  text-align: start;
  gap: 16px;
  @media (max-width: 1200px) {
    padding: 12px 20px;
  }
}

.sidebar-button.login {
  box-shadow: var(--box-shadow);
}

.sidebar-button.small {
  padding: 12px 20px;
}

.sidebar-button.primary {
  background-color: var(--primary);
  color: var(--bg);
}

.sidebar-button__content {
  display: flex;
  gap: 16px;
  align-items: center;
  @media (max-width: 1200px) {
    gap: 10px;
  }
}

.sidebar-button__account {
  padding: 10px;
  width: 52px;
  height: 52px;
  background-color: var(--bg-alt);
  border-radius: 50%;
  @media (max-width: 992px) {
    display: none;
  }
}

.sidebar-button__text {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.sidebar-button__text span:first-child {
  font-size: 16px;
  font-weight: 600;
}

.sidebar-button__text span:last-child {
  font-size: 12px;
  color: var(--light-grey-text);
}

.sidebar-button__text.primary span:last-child {
  font-size: 12px;
  color: var(--bg);
}

.sidebar-button__account.primary {
  background-color: transparent;
  padding: 0;
}
