:root {
  --primary: #0e261d;
  --secondary: #6c7d6a;
  --accent: #c9a764;
  --bg: #fef9ef;
  --bg-rgb: 254, 249, 239;
  --text: #2b2b2b;
  --grey-text: #6d6d6d;
  --light-grey-text: #7b7b7b;
  --bg-alt: #f4f2ee;
  --bg-green: #d9d9d9;
  --box-shadow: 0px 4px 19px 0px rgba(0, 0, 0, 0.1);
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--bg);
}

button {
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}
